/*<<<<<<< development*/
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

/*Reset */
* { margin: 0; padding: 0; font-size: 100%; box-sizing:border-box ; font-family: 'Inter', sans-serif;}
nav, ul {list-style: none;}
a {text-decoration: none; cursor: pointer; opacity: 0.9;}
a :hover {opacity: 1;}*

/*
header{
    width: 100vw;
    height: 917px;
    display: flex;

    background-color: white;

}

=======
*/

/* reset */
/*
body{
    margin:0;
    padding: 0;
}
*/


/*MAIN*/
main {
    display: flex;
    width: 100vmax;
    height: 917px;
    background: #FFFFFF;
}
@media (max-width: 700px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
}

.container {
    display: flex;
    justify-content: space-around;
    width: 100vmax;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;          
}

@media (max-width: 700px){
    .container{
        flex-direction: column;    
    }
}

/* .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vmax;
} */

/*@media (max-width: 700px){
    #margin-box{
        margin-top: 5rem;
    }
}*/

/*.wrap-box{
    display: flex;
    justify-content: space-between;

}*/

.box-1-ovo-tradicional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 394px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    
}

.box-1-ovo-tradicional img {
    display: flex;
    border-radius: 10px;
    width: 260px;
    height: 186px;
}

.box-2-ovo-colher div span {
    display: flex;   
    width: 298px;
    height: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    justify-content: space-around;
    color: #FFFFFF;
}

.box-2-ovo-colher {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 394px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}
    
.box-2-ovo-colher img {
    display: flex;
    border-radius: 10px;
    width: 260px;
    height: 186px;   
}

.box-2-ovo-colher button {
    margin: 13px;
}

.desconto10 {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    width: 298px;
    height: 20px;
    background: #F28705;
    border-radius: 10px 10px 0px 0px;
}

.box-3-montar-cesta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 394px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    /*margin: 0 5rem;*/
}

.box-3-montar-cesta img {
    display: flex;
    border-radius: 10px;
    width: 260px;
    height: 186px;
}

.box-3-montar-cesta button {
    margin: 13px;
}

.box-3-montar-cesta div span {
    display: flex;  
    width: 298px;
    height: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    justify-content: space-around;
    color: #FFFFFF;
}

.desconto13 {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;    
    width: 298px;
    height: 20px;
    background: #F28705;
    border-radius: 10px 10px 0px 0px;
}

.box-4-ovo-criancada {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 394px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
    /*margin: 0 5rem;*/
}

.box-4-ovo-criancada img {
    display: flex;
    border-radius: 10px;
    width: 260px;
    height: 186px;
}

.desconto5 {
    display: flex;
    align-self: flex-start;
    align-items: flex-start;    
    width: 298px;
    height: 20px;
    background: #F28705;
    border-radius: 10px 10px 0px 0px;
}
       
.box-4-ovo-criancada div span {
    display: flex;    
    width: 298px;
    height: 22px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 22px;
    justify-content: space-around;
    color: #FFFFFF;
}

.box-4-ovo-criancada button {
    margin: 13px;
}

.box-5-kit-trufa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 394px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.box-5-kit-trufa img {
    display: flex;
    border-radius: 10px;
    width: 260px;
    height: 186px;
}

.box-6-barra-crocante {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 394px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.box-6-barra-crocante img {
    display: flex;
    border-radius: 10px;
    width: 260px;
    height: 186px;
}

.container span {
    display: flex;
    width: 232px;
    height: 66px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
    
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;

    background: #F2B705;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*FIM MAIN*/
